<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Basicsservices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <Basicsservices.Properties.Settings>
      <setting name="Basicsservices_localhost1_Mathservice" serializeAs="String">
        <value>http://localhost:50050/Mathservice.asmx</value>
      </setting>
      <setting name="Basicsservices_localhost2_Evenoddservice" serializeAs="String">
        <value>http://localhost:51426/Evenoddservice.asmx</value>
      </setting>
    </Basicsservices.Properties.Settings>
  </applicationSettings>
</configuration>